.App {
  font-family: sans-serif;
  text-align: center;
}
*{
	margin:0;
}
.wrap{
	width:1200px;
  height:700px;
	margin:auto;
	background:#fff;
  border-radius: 25px;
   padding: 20px;
}
.header{
	height:70px;
	background:#fff;
}
.nav{
	height:50px;
	background:#fff;
}
.container{
	height:500px;
	background:#fff;
}
.footer{
	height:80px;
	background:#ccc;
}

.divLogo{
	height:80px;
	background:#ccc;
}

.split {
  height: 150px;
  width: 300px;
  position: fixed;
  z-index: 1;
  top: 0;
  overflow-x: hidden;
  padding-top: 20px;
}
.left {
  top:180px;
  left: 130px;
  width: 600px;
  height:500px;
  background-color: white;
  border: 2px solid #ffffff;
}

.right {
  top:180px;
  right: 130px;
  width:600px;
  height: 500px;
  background-color: #fff;
  border: 2px solid #ffffff;
}
.centered {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}

.centered img {
  width: 550px;

  border-radius: 50%;
}

.blocks {
    display: inline-block;
    border: solid 1px red;
    width: 100px;
}
.wrap1{
    width:210px;
}
